pre, code, var, samp, kbd, .code {
  font-family: Consolas, 'Courier New', Courier, Monaco, monospace;
  font-size: 14px;
  line-height: 1.2; }

a {
  text-decoration: none;
  color: #000; }
  a:hover {
    color: #f00; }
  a:before {
    content: "> "; }

#input {
  width: 100%;
  height: 200px; }
